<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart with Flask and amCharts 5</title>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="/static/test.js" defer></script>
    <script src="/static/barchart.js" defer></script>
    <script src="/static/linechart.js" defer></script>
    <script src="/static/piechart.js" defer></script>
    <script src="/static/scatterplot.js" defer></script>
    <script src="/static/humanchart.js" defer></script>
    <script src="/static/donut.js" defer></script>
    <link rel="stylesheet"  href="/static/style.css">
</head>
<body>
    <h2>Sales Performance</h2>
    <main>
        <div id="piechart"></div>
        <div id="scatterplot"></div>
        <div id="barchart"></div>
        <div id="linechart"></div>
        <div id="donutchart"></div> 
        <div id="humanchart"></div>

    </main>
</body>